
        <!-- Landing Image -->
        <header id="search-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                        <h1 class="super-title">Explore Jobs</h1>
                        <form action="/explore" method="post">
                            <input class="form-control" type="text" name="jobTitle" placeholder="Search by Job Title">
                            <input class="btn btn-lg btn-jobbatical" type="submit" value="Search">             
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <!-- Display a lot of Jobs -->
        <section>
            <div class="container">        
            <!-- Build page dynamically -->
            <% jobs.forEach( element => { %>
                <div class='col-xs-12 feature-card'>
                    <a href="/job/<%= element._id %>">
                    <img src='/images/<%=photos[0]%>' class='img-responsive img-rounded job-photo'>
                    <div class="feature-text text-uppercase">  
                        <h4 class='job-title'><%= element.jobTitle %></h4>
                        <p class='text-faded'>at <%= element.companyName %>, <%= element.location %></p>
                    </div>
                    </a>
                </div>
            <% }); %>
            </div>
            
            <!-- get more jobs from DB -->
            <div class="view-jobs">
                <a href="#" class="btn btn-lg btn-jobbatical">View more jobs</a>
            </div>
        </section>